
@import "tailwindcss";


:root {
    --primary-font:"Playfair Display", serif;
    --content-font: "Source Sans 3", sans-serif;
    --color-primary: #3E4E88;
    --color-secondary: #f4ece6;
    --color-accent: #E27D60;
    --color-text: #2C2C2C;
    --color-muted: #6D6D6D;
    --color-bg-card: #FFF9F0;
    --color-success: #A3B18A;
    --color-error: #D9534F;
}

.font-primary {
  font-family: var(--primary-font);
}
.font-secondary {
  font-family: "Source Sans 3", sans-serif;
}


@layer utilities {
  .custom-logo {
    display: block;
    width: 50%;
    object-fit: cover;
  }

  @media (min-width: 768px) {
    .custom-logo {
      width: 40%;
    }
  }

  @media (min-width: 1024px) {
    .custom-logo {
      width: 20%;
    }
  }
}
